{{#if alert}}
  <div class='alert alert-success alert-dismissable fade show' role='alert'>
    {{alert}}
    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
  </div>
{{/if}}

{{#each results}}
  <div class='card text-center' style='width: 18rem;'>
    <div class='card-header'>
      <img class='user-image' src='/img/{{photo}}' alt='{{name}}-img' />
    </div>
    <div class='card-body'>
      <h5 class='card-title'>{{name}}</h5>
      <small class='text-muted'>{{job_title}}</small>
      <p class='card-text'>{{description}}</p>
      <a href='/upload/{{id}}' class='btn btn-primary'>View Profile</a>
    </div>
  </div>
{{/each}}